* {
  margin: 0;
  padding: 0; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

html,
body {
  width: 100%;
  height: 100%; }

.wrap {
  width: 100%;
  display: flex;
  background: #f4f4f4;
  flex-direction: column; }
  .wrap header {
    width: 100%;
    height: 1.76rem;
    background: #b3b3b3;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 1.76rem; }
    .wrap header .back {
      width: 0.36rem;
      height: 0.72rem;
      background: #b3b3b3;
      margin: 0.52rem 0 0 0.48rem;
      color: white; }
      .wrap header .back i {
        font-size: 0.72rem; }
    .wrap header h1 {
      width: 11.24rem;
      height: 1.76rem;
      font-size: 0.62rem;
      font-weight: normal;
      text-align: center; }
    .wrap header .subscribe {
      width: 1.56rem;
      height: 0.76rem;
      background: #cccccc;
      color: white;
      border: 1px solid white;
      border-radius: 0.06rem;
      margin: 0.5rem 1.28rem 0 0; }
  .wrap .container {
    flex: 1;
    margin: 0.4rem 0 0 0; }
    .wrap .container .main {
      padding: 0 0.5rem 0 0.5rem;
      background: #fff; }
      .wrap .container .main .top {
        height: 2.44rem; }
        .wrap .container .main .top h2 {
          height: 1.44rem;
          line-height: 1.44rem;
          font-size: 0.64rem;
          font-weight: normal; }
        .wrap .container .main .top .info {
          display: flex;
          justify-content: space-between;
          height: 0.4rem;
          font-size: 0.4rem;
          margin-bottom: 0.6rem;
          color: #a1a1a1; }
      .wrap .container .main .content .pic1 {
        width: 14rem;
        height: 8.3rem; }
        .wrap .container .main .content .pic1 img {
          width: 14rem;
          height: 8.3rem; }
      .wrap .container .main .content .txt1 {
        height: 6.8rem;
        line-height: 0.94rem;
        font-size: 0.58rem;
        text-indent: 2em; }
        .wrap .container .main .content .txt1 p:nth-child(1) {
          margin: 0.6rem 0 0.6rem 0; }
      .wrap .container .main .content .pic2 {
        width: 14rem; }
        .wrap .container .main .content .pic2 img {
          width: 14rem; }
      .wrap .container .main .content .txt2 {
        line-height: 0.94rem;
        font-size: 0.58rem;
        text-indent: 2em; }
        .wrap .container .main .content .txt2 p:nth-child(1) {
          margin: 0.4rem 0 0.4rem 0; }
        .wrap .container .main .content .txt2 p:nth-child(3) {
          text-align: right;
          margin: 0.2rem 0; }
      .wrap .container .main .content .zancai {
        width: 6.68rem;
        height: 2.8rem;
        background: white;
        display: flex;
        flex-direction: row;
        margin: 1.2rem 0 0.4rem 3.66rem; }
        .wrap .container .main .content .zancai i {
          font-size: 25px; }
        .wrap .container .main .content .zancai .left {
          width: 6.68rem;
          height: 2.14rem; }
          .wrap .container .main .content .zancai .left .zan {
            width: 1.6rem;
            height: 1.6rem;
            line-height: 1.6rem;
            border-radius: 50%;
            border: 1px solid #d0d0d0;
            text-align: center;
            margin-right: 1.7rem; }
          .wrap .container .main .content .zancai .left .txt {
            width: 1.6rem;
            height: 0.5rem;
            font-size: 0.44rem;
            text-align: center; }
        .wrap .container .main .content .zancai .right {
          width: 1.6rem;
          height: 2.14rem; }
          .wrap .container .main .content .zancai .right .cai {
            width: 1.6rem;
            height: 1.6rem;
            line-height: 1.6rem;
            border-radius: 50%;
            border: 1px solid #d0d0d0;
            text-align: center; }
          .wrap .container .main .content .zancai .right .txt {
            width: 1.6rem;
            height: 0.5rem;
            font-size: 0.44rem;
            text-align: center; }
    .wrap .container .read {
      margin-top: 0.4rem;
      padding: 0 0.5rem 0 0.5rem;
      background: #fff; }
      .wrap .container .read h2 {
        width: 100%;
        height: 1.78rem;
        line-height: 1.78rem;
        background: #fff;
        font-size: 0.62rem;
        font-weight: normal; }
      .wrap .container .read .content {
        width: 100%;
        height: 4.44rem;
        background: #fff;
        marign-top: 0.02rem solid #e6e6e6; }
        .wrap .container .read .content .in {
          width: 100%;
          height: 3.68rem;
          display: flex;
          flex-direction: row;
          padding-top: 0.4rem; }
          .wrap .container .read .content .in .pic {
            width: 4.5rem;
            height: 3.68rem;
            background: #cccccc; }
          .wrap .container .read .content .in .right {
            width: 9.52rem;
            height: 3.68rem;
            padding: 0 0.4rem 0 0.4rem; }
            .wrap .container .read .content .in .right h3 {
              font-size: 0.64rem;
              line-height: 1.04rem;
              margin-top: 0.2rem; }
            .wrap .container .read .content .in .right .bottom {
              display: flex;
              justify-content: space-between;
              font-size: 0.4rem;
              margin-top: 0.24rem; }
              .wrap .container .read .content .in .right .bottom .hot {
                margin-left: 2.0rem; }
    .wrap .container .comment {
      margin-top: 0.4rem;
      padding: 0 0.5rem 0 0.5rem;
      background: #fff; }
      .wrap .container .comment h2 {
        width: 100%;
        height: 1.78rem;
        line-height: 1.78rem;
        background: #fff;
        font-size: 0.62rem;
        font-weight: normal; }
      .wrap .container .comment .content {
        width: 100%;
        height: 2.16rem;
        background: #fff; }
        .wrap .container .comment .content .in {
          width: 100%;
          height: 3.68rem;
          display: flex;
          flex-direction: row; }
          .wrap .container .comment .content .in .pic {
            width: 1.32rem;
            height: 1.32rem;
            border-radius: 50%;
            background: #cccccc; }
          .wrap .container .comment .content .in .right {
            width: 11.92rem;
            height: 2.6rem;
            padding: 0 0.4rem 0 0.4rem;
            display: flex;
            flex-direction: column; }
            .wrap .container .comment .content .in .right .top {
              width: 12.72rem;
              height: 0.6rem;
              display: flex;
              flex-direction: row;
              font-size: 0.4rem;
              margin-bottom: 0.25rem; }
              .wrap .container .comment .content .in .right .top .name {
                font-size: 0.48rem; }
              .wrap .container .comment .content .in .right .top .n1 {
                margin-right: 0.25rem; }
              .wrap .container .comment .content .in .right .top .n2 {
                margin-right: 0.8rem; }
              .wrap .container .comment .content .in .right .top .time {
                margin: 0 -0.5rem 0 1.2rem; }
              .wrap .container .comment .content .in .right .top .hot {
                margin-left: 1.8rem; }
              .wrap .container .comment .content .in .right .top .comment1 {
                margin-left: 1rem; }
            .wrap .container .comment .content .in .right p {
              width: 100%;
              height: 2.0rem;
              font-size: 0.52rem; }
  .wrap footer {
    width: 100%;
    height: 1.76rem;
    background: white;
    display: flex;
    justify-content: space-around; }
    .wrap footer button {
      height: 0.76rem;
      margin-top: 0.5rem;
      background: white; }
      .wrap footer button i {
        font-size: 0.72rem; }

/*# sourceMappingURL=news.css.map */
